# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Compiled files
*.pyc

# Dependency directories
lib/
lib64/
bin/
include/

# environment
*.env