#login-user {
    display: flex; align-items: center; justify-content: center;
}

#login-user input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}

#login-user button {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #4CAF50;
    color: white;
}

#login-user button:hover {
    background-color: #45a049;
}