<!DOCTYPE html>
<html>

<head>
    <title>Allos</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="text-center">
            <h1>Allos</h1>
        </div>

        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <form action="{{ url_for('login.auth') }}">
                <button type="submit" class="btn btn-primary">Sign In with Twitter</button>
            </form>
        </div>
    </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/cru.js') }}"></script>
</body>

</html>